Parser should ignore invalid headers

Hi.

Incapsula anti-ddos protection service return invalid headers as part of anti-ddos protection:
For example:

```
HTTP/1.1 200 OK
Access-Control-Allow-Origin: *
Content-Type: application/json; charset=utf-8
X-Row-Count: 1
X-Varnish: 28002913
Age: 0
Via: 1.1 varnish-v4
Accept-Ranges: bytes
X-BackendHost: 10.10.29.62
Accept-Ranges: bytes
Date: Mon, 18 Jul 2016 17:16:36 GMT
X-Varnish: 462646394
Age: 0
Via: 1.1 varnish
Connection: keep-alive
X-AccessID: mozscape-e5255cb56a
X-UnknownAPI:
X-Throttled: 0
X-ExpiredSignature: 0
X-AuthenticationError: 0
Set-Cookie: visid_incap_149733=9RLkJc7RRi2PkVPIN06FsvEOjVcAAAAAQUIPAAAAAADYj7vGzAU5JpqKZo/QhxMS; expires=Tue, 18 Jul 2017 15:26:52 GMT; path=/; Domain=.seomoz.com
Set-Cookie: incap_ses_408_149733=09HITSsAilhWj/CPFYKpBfEOjVcAAAAAa5NTadmKGNFtXOGIW6qHbg==; path=/; Domain=.seomoz.com
Set-Cookie: ___utmvmXvuOVmF=gLNAmvbZcpy; path=/; Max-Age=900
Set-Cookie: ___utmvaXvuOVmF=DeifNxR; path=/; Max-Age=900
Set-Cookie: ___utmvbXvuOVmF=iZK
    XSaOzalA: ctu; path=/; Max-Age=900
X-Iinfo: 0-14477114-14477115 NNNN CT(117 -1 0) RT(1468862193272 1) q(0 0 1 -1) r(3 3) U5
X-CDN: Incapsula
Content-Encoding: gzip
Transfer-Encoding: chunked

```

Last Set-Cookie header is invalid, because it contains extra line break.

Is it possible to make parser ignore only such invalid headers?
Currently parser return -1 and no headers were parsed at all.


Or maybe this is because overall headers length > 1 Kb?
Is it possible to increase max. headers length limit?

A header lines spanning into multiple lines was deprecated in [RFC 7230](https://tools.ietf.org/html/rfc7230) but is still allowed. Quoting from A.2:

```
Header fields that span multiple lines ("line folding") are
deprecated.  (Section 3.2.4).
```

Yes, I know, that they are deprecated, but they are still used.

Also, I found, that parser return nothing, if one of the headers
contains forbidden character, for example "\x01". Is it possible to
ignore only this header, not everything?


On 19.07.2016 05:36, Kazuho Oku wrote:
>
> A header lines spanning into multiple lines was deprecated in RFC 7230
> <https://tools.ietf.org/html/rfc7230> but is still allowed. Quoting
> from A.2:
>
> |Header fields that span multiple lines ("line folding") are
> deprecated. (Section 3.2.4). |
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/kazuho/p5-http-parser-xs/issues/10#issuecomment-233514870>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AA-mSND_tOsz0J20oegd0VS70vsMOHQcks5qXDgpgaJpZM4JO-M6>.
>



> Yes, I know, that they are deprecated, but they are still used.

They are still used and allowed. You are mistaken that it is not supported.

I tried your example with `parse_http_response` function of the module and it is returning a successful parsed result for me.


>  that parser return nothing, if one of the headers contains forbidden character, for example "\x01". Is it possible to ignore only this header, not everything?

While I cannot reproduce the failure, if a header body contains forbidden characters, the parser should just fail. There're only valid HTTP headers and invalid HTTP headers, and no "partially valid HTTP headers".

You might want to try other modules that might be tolerating such invalid HTTP headers, at the expense of being incorrect.

1. Yes, parser returns wrapped headers, but with single mistake:

For example, for original header:
```
AAA: 123
    456
```

it should return:
```
'AAA', '123    456'
```
but it return
```
'AAA', "123\n    456" # extra "\n"
```

2. Second error:
If header contains forbidden character, for example "\x01" - parser
return nothing. But, it should just ignore this corrupted header and
parse the rest. At least browsers do so.

On 19.07.2016 21:00, Tatsuhiko Miyagawa wrote:
>
>     Yes, I know, that they are deprecated, but they are still used.
>
> They are still used and allowed. You are mistaken that it is not
> supported.
>
> I tried your example with |parse_http_response| function of the module
> and it is returning a successful parsed result for me.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/kazuho/p5-http-parser-xs/issues/10#issuecomment-233715344>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AA-mSE_5W5qf7R1fKF76a9Tl9iSqMAgeks5qXRDMgaJpZM4JO-M6>.
>



I created this issue, because parser not works with well - known cdn and
anti-ddos service incapsula.com.

You can implement tolerant mode if you want, I already created and use
fallback routine.

Thank you.


On 19.07.2016 21:13, Tatsuhiko Miyagawa wrote:
>
>     But, it should just ignore this corrupted header and parse the
>     rest. At least browsers do so.
>
> This is not a browser and there's no reason that it should be
> tolerating such broken headers. I will leave up to kazuho if he wants
> to implement a tolerant mode, but as a user of this module, I would
> expect this module to reject such broken headers.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/kazuho/p5-http-parser-xs/issues/10#issuecomment-233718878>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AA-mSJI9jqOFq6ZTV53iQlj-QXRtkfYDks5qXRPEgaJpZM4JO-M6>.
>



you should report the service about it and fix the invalid response - that would be for the better. I think this issue can be closed.

Seems, that this is a part of anti-ddos solution.


On 19.07.2016 21:19, Tatsuhiko Miyagawa wrote:
>
> you should report the service about it and fix the invalid response -
> that would be for the better. I think this issue can be closed.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/kazuho/p5-http-parser-xs/issues/10#issuecomment-233720695>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AA-mSI6vH7Av4Pxvgo4HfISltmANmCKcks5qXRUogaJpZM4JO-M6>.
>



ha! so clients will receive that invalid headers and stop ongoing requests? Seems the protection is working then :p

Yes, that's funny, but i have no other answer - why they are use this
deprecated and corrupted headers?

And this solution works in browsers, but may not work with third - party
headers parsers, that can be used in botnet.


On 19.07.2016 21:31, Tatsuhiko Miyagawa wrote:
>
> ha! so clients will receive that invalid headers and stop ongoing
> requests? Seems the protection is working then :p
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/kazuho/p5-http-parser-xs/issues/10#issuecomment-233724256>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AA-mSBW2y764rr4Y8iUsVpqVy-9j05b8ks5qXRgCgaJpZM4JO-M6>.
>



@zdm 
> Yes, parser returns wrapped headers, but with single mistake:
> 
> For example, for original header:
> ```
> AAA: 123
>     456
> ```
> 
> it should return:
> ```
> 'AAA', '123    456'
> ```
> but it return
> ```
> 'AAA', "123\n    456" # extra "\n"
> ```

I do not have a strong preference on this.

Until now, picohttpparser (which runs below HTTP::Parser::XS) has always preserved `\n`, since an application _might_ want to know if `\n` is used.

However, since RFC 2616 section 4.2 states, quote:
```
Any LWS
that occurs between field-content MAY be replaced with a single SP
before interpreting the field value or forwarding the message
downstream.
```
it is true that a parser is allowed to rewrite consecutive LWS into a single SP which would not be a difficult thing to do (either within picohttpparser or HTTP::Parser::XS), and expect _not_ to break existing applications.

> If header contains forbidden character, for example "\x01" - parser
> return nothing. But, it should just ignore this corrupted header and
> parse the rest. At least browsers do so.

Interesting. However I am a bit afraid changing the behavior as such might cause issues for HTTP::Parser::XS / picohttpparser.

As an example, consider the case where you receive a connection header with its value set to "\x01". As a HTTP client implementer, I would not want to reuse such connection for future requests. In other words, I would like to handle the case as if `connection: close` was received. However, if we start dropping broken headers, the client would continue reusing the connection, since the absence of the connection header implies keep-alive.

yes, your evidence has sense.
thank you.


On 20.07.2016 07:11, Kazuho Oku wrote:
>
> @zdm <https://github.com/zdm>
>
>     Yes, parser returns wrapped headers, but with single mistake:
>
>     For example, for original header:
>
>     |AAA: 123 456 |
>
>     it should return:
>
>     |'AAA', '123 456' |
>
>     but it return
>
>     |'AAA', "123\n 456" # extra "\n" |
>
> I do not have a strong preference on this.
>
> Until now, picohttpparser (which runs below HTTP::Parser::XS) has
> always preserved |\n|, since an application /might/ want to know if
> |\n| is used.
>
> However, since RFC 2616 section 4.2 states, quote:
>
> |Any LWS that occurs between field-content MAY be replaced with a
> single SP before interpreting the field value or forwarding the
> message downstream. |
>
> it is true that a parser is allowed to rewrite consecutive LWS into a
> single SP which would not be a difficult thing to do (either within
> picohttpparser or HTTP::Parser::XS), and expect /not/ to break
> existing applications.
>
>     If header contains forbidden character, for example "\x01" - parser
>     return nothing. But, it should just ignore this corrupted header and
>     parse the rest. At least browsers do so.
>
> Interesting. However I am a bit afraid changing the behavior as such
> might cause issues for HTTP::Parser::XS / picohttpparser.
>
> As an example, consider the case where you receive a connection header
> with its value set to "\x01". As a HTTP client implementer, I would
> not want to reuse such connection for future requests. In other words,
> I would like to handle the case as if |connection: close| was
> received. However, if we start dropping broken headers, the client
> would continue reusing the connection, since the absence of the
> connection header implies keep-alive.
>
> —
> You are receiving this because you were mentioned.
> Reply to this email directly, view it on GitHub
> <https://github.com/kazuho/p5-http-parser-xs/issues/10#issuecomment-233833711>,
> or mute the thread
> <https://github.com/notifications/unsubscribe-auth/AA-mSKsUknFoBkWnlZcPrume3KSE3CSWks5qXaABgaJpZM4JO-M6>.
>



Not trying to revive an ancient issue, but maybe this will help someone running into this issue with Imperva (aka Incapsula). I've talked to Imperva support (they even gave me permission to relay this information publicly), but some of these invalid or problematic headers have to do with their techniques in classifying user-agents. That is, they send somewhat problematic headers (I believe `Set-Cookie` may be one of them) to see how the user-agent behaves. In most cases (browsers) nothing happens. But here in nodejs there is an issue. Anyways, you can request them to disable this behavior. Hope this helps.